**/__pycache__
.git
.idea
.import_linter_cache
.mypy_cache
.ruff_cache
.poetry
.pytest_cache
.venv
configs
dist
volumes
.dockerignore
.env
.gitignore
.pre-commit-config.yaml
compose.yml
Dockerfile
README.md
